
nav{
    
        background-color: #275846;
      overflow: hidden;
      
}
nav a{
    align-content: first baseline;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    float: left;
    color: white;
}
#Resume{
    text-align: center;
   
    font-style: italic;
    font-weight: 700;
    color: rgb(243, 245, 239);
    background-color: rgb(11, 33, 22);
    
    
}
#name{
    background-color: rgba(155, 191, 191, 0.691);
    color: rgb(0, 5, 5);

}
#tableO{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
   
    background-color: rgb(185, 184, 179);
}
#tableE {
 width: 100%;
 margin: 0 auto;
 border-collapse: collapse;
 
 background-color: rgb(208, 222, 231);

 padding: 100px;

}
footer{
    background-color: rgb(208, 231, 170);
    text-align: center;
}
#G a{
    color: purple;
}

